.queue {
  margin-top:30px;
  .queueItem {
    margin:10px 0;
    .tags {
      margin: 10px 0;
      overflow:auto;
      span {
        &.label {
          margin: 2px;
          display:inline-block;
          text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
          background-color: #A9ABAD;
        }
        &.info { background-color: #0f75da; }
      }
    }
    article {
      background-color: white;
      border: 1px solid #ccc;
      padding: 0;
      overflow: hidden;
      width:350px;
      position: relative; 
    }
    img {
      width: 350px;
    }
    summary {
      padding:5px 10px 0;
    }
  }
}